root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{js,json,scss,css,html}]
charset = utf-8
indent_size = 2

[*.py]
indent_size = 4

[*.xml]
indent_size = 2

[*.md]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.sh]
indent_size = 4
